<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shot.name %>
</p>

<p>
  <b>Comedian:</b>
  <%= @shot.comedian.name %>
	<%= image_tag @shot.avatar.url %>
</p>


<%= link_to 'Edit', edit_shot_path(@shot) %> |
<%= link_to 'Back', shots_path %>
